@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
}

.primaryColor {
    color: #222222;
}

.primaryBGColor {
    background-color:#222222;
}

.secondaryColor {
    color: #d5d5d5;
}

.secondaryBGColor {
    background-color: #d5d5d5;
}

.thirdColor {
    color: #fe89cf;
}

.thirdBGColor {
    background-color: #fe89cf;
}

.invisible {
    display: none;
}

#loading {
    border: white solid 1px;
    visibility: hidden;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.Sidebar {
    height:100%;
    width:200px;
    padding-left: 10px;
    position:fixed!important;
    float: left;
    z-index:100;
    overflow:auto;
    display: none;
    align-self: baseline;
}

.formField:active {
    border-color: #fe89cf;
}

.loadingDescription {
    padding-left: 10px;
    padding-top: 25px;
    position: absolute;
}

.submitButton {
    background: none;
    border: none;
    font-size: 1.3rem;
}

.submitButton:hover {
    color: #fe89cf;
}

.submitButton:focus {
    outline-color: #fe89cf;
}

.hovered:hover {
    color:#fff;
}

.item {
    max-width: 75%;
    border: #fe89cf solid 2px;
    margin: 30px;
    position: relative;
}

.placeholder {
    margin-right: 5px;
}

.img {
    margin-right: 5px;
    position: relative;
}

.title {
    padding-bottom: 30px;
}

.desc {
    padding-left: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    font-size: 0.8rem;
}

.btn:hover {
    color: #fe89cf;
}

.btn:focus {
    outline: none;
}

.right {
    align-self: flex-end;
}