@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 1.5rem;
    background-color:#222222;
}

#loading {
    border: white solid 1px;
    visibility: hidden;
}

.gray {
    color: #d5d5d5;
}

.formField {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.formField:active {
    border-color: #fe89cf;
}

.loadingDescription {
    padding-left: 10px;
    padding-top: 25px;
    position: absolute;
}

.submitButton {
    background: none;
    border: none;
    font-size: 1.3rem;
}

.submitButton:hover {
    color: #fe89cf;
}

.submitButton:focus {
    outline-color: #fe89cf;
}

.item {
    max-width: 75%;
    border: #fe89cf solid 2px;
    margin: 30px;
    position: relative;
}

.placeholder {
    color: black;
    background-color: #fff;
    margin-right: 5px;
}

.img {
    margin-right: 5px;
    position: relative;
}

.title {
    color: white;
    padding-bottom: 30px;
}

.desc {
    padding-left: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.small {
    font-size: 0.8rem;
}

.btn:hover {
    color: #fe89cf;
}

.btn:focus {
    outline: none;
}

